
::before,
::after {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial sans-serif' ;
}

h1 {
    font-size: 40px;
    color:  goldenrod;
}

h2 {
    font-size: 50px;
    margin: 20px 0;
}

button {
    padding: 10px 30px;
    margin: 10px;
    width: 150px;
    background: goldenrod;  
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    background-color: rgb(208, 218, 218);
    padding: 10px;
    margin: 10px;
}

#error-msg {
    color: red;
}

span {
    font-size: 50px;
    margin: 10px;
    border-bottom: solid 1px black;
}